In [2]:
# Sets cannot have duplicates
s = set({1,2,3,4,5,5,5})
s

{1, 2, 3, 4, 5}

In [3]:
#creating a new set
s = set({1,4,5})
s

{1, 4, 5}

In [5]:
s = {1,4,5}
s

{1, 4, 5}

In [6]:
4 in s

True

In [7]:
8 in s

False

In [8]:
for number in s:
    print(number)

1
4
5

In [9]:
s.add(6)
s

{1, 4, 5, 6}

In [10]:
s.remove(6)
s

{1, 4, 5}

In [11]:
s.discard(6)
s

{1, 4, 5}

In [13]:
another_s = s.copy()
another_s

{1, 4, 5}

In [14]:
math_students = {"Matthew","Helen","Peter","James","Aparna"}
biology_students = {"Jane","Matthew","Charlotte","Mesut","Oliver","James"}

#union
math_students | biology_students

{'Aparna',
 'Charlotte',
 'Helen',
 'James',
 'Jane',
 'Matthew',
 'Mesut',
 'Oliver',
 'Peter'}

In [15]:
math_students = {"Matthew","Helen","Peter","James","Aparna"}
biology_students = {"Jane","Matthew","Charlotte","Mesut","Oliver","James"}

#intersect
math_students & biology_students

{'James', 'Matthew'}

In [18]:
print({x**2 for x in range(10)})

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}